.bodyHistory {
  height: 100vh;
}

.transictions {
}

.transiction {
  margin-top: 2rem;
  border-bottom: 1px solid #8a9197;
}

.transiction p {
  margin: 0;
}

.titleTransiction {
  font-size: 20px;
  margin: 0.5rem;
}

.search {
  color: white;
}

.form-control {
  color: white;
}

.contenttransactions {
  color: #8a9197;
}

.input-group-text i {
  color: white;
}

.input-group-prepend span {
  background-color: #2d2e2f;
  border-color: #8a9197;
}

input {
  background-color: #2d2e2f;
  border-color: #8a9197;
  color: white;
}

input:focus {
  background-color: #2d2e2f;
  color: white !important;
}

input::placeholder {
  color: #a9a9a9;
}
